<div class="error">
    <h1>404 Page not found</h1>
    {{#if error}}
    <p>Unfortunately something went wrong.<br>{{error}} <br><a href="/">Go back to home.</a></p>
    {{else}}
    <p>
        Unfortunately the page you are looking for is not found. <a href="/">Go back to home.</a>
    </p>
    {{/if}}
</div>