<div class="about">
    <h1>About us</h1>
    {{#if error}}
    <p> <span class="error">{{error}}</span> </p>
    {{/if}}
    <p>
        <i>"Cutelino"</i> is a place, where you can browse baby clothes, toys, accessories and everything you'd need for
        your baby or you can sell your own brand and products. This application was created as an exercise for Express,
        Handlebars, MongoDb and Mongoose and is stored at my <a href="https://github.com/kStoykow/Projects">github
            projects</a>.
    </p>

    <article class="reach-us">
        <h2>Get In Touch</h2>
        <p>1234 Street, Stara Zagora, Bulgaria</p>
        <p>+1-555-5555-5555</p>
        <p>mail@domain.com</p>
        <ul class="reach-us-icons">
            <li><a href="https://github.com/kStoykow"><img src="/static/icons/github.png" alt="GitHub"></a></li>
            <li><a href=""><img src="/static/icons/instagram.png" alt="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/kristiqn-stoykow-616138195/"><img src="/static/icons/linkedin.png"
                        alt="LinkedIn"></a></li>
        </ul>
    </article>
</div>