<img class="category" src="imageUrl">
<div class="details">
    <p><span>name</span></p>
    <p><span>Description:</span> description</p>
    <a class="btn" href="/">Back</a>
</div>

<div class="category">
    <img class="product" src="img" alt="img">
    <p class="name">name</p>
    <p>add id to link</p>
    <a class="btn" href="/category">Details</a>
</div>