<div class="details">
    <img class="category" src="{{category.imageUrl}}" alt="img">
    <p class="name">{{category.name}}</p>
    <a class="btn" href="/">Back</a>
</div>

{{#each product}}
{{>productCard}}
{{/each}}