<div class="form">
    <h1>create category</h1>
    <form action='/create/category' method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="name">Description</label>
        <textarea id="name" name="description"></textarea>
        <label for="image">Image Url</label>
        <input type="text" id="image" name="imageUrl">

        <input type="submit" value="Create">
    </form>
</div>