<h1>Browse products</h1>

<form action="/" method="/get" class="search">
    <input type="text" class="search" name="search" placeholder="search" value="">
    <label for="category">Category:</label>
    <select id="category" name="category">
        <option value="All">All</option>
    </select>
    <input type="submit" value="search">
</form>

<div class="category">
    <img class="cube" src="img" alt="img">
    <p class="name">name</p>
    <a class="btn" href="">Details</a>
</div>