<img class="product" src="imageUrl">
<div class="details">
    <p><span>name</span></p>
    <p><span>Description:</span> description</p>
    <p><span>Price:</span> price</p>
    <p><span>Size:</span> Size</p>
    <p><span>Color:</span> Color</p>
    <a class="btn" href="/category">Back</a>
</div>