<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/site.css" type="text/css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/create/category">Create Category</a></li>
                <li><a href="/create/product">Add product</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>Cutelino &copy; 2022</footer>
</body>

</html>