*{
text-decoration: none;
}


body{
    background-color: lightslategray;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

.main{
    width: 900px;
    margin: 10px auto;
}

li{
    list-style: none;
}

.main-nav{
    margin-left: 100px;
}

.main-nav li{
    display: inline-block;
    margin: 15px 10px 10px;
}

.main-nav  a{
    background-color: #414943;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.main-nav a:hover{
    background-color: gray;
    padding: 15px;
}


.episodes li{
    display: inline;
    margin-right: 20px;
}

p{
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
}

h3{
    font-weight: 600;
}

footer{
    border-top: 2px solid black;
}
footer h4{
    display: inline-block;
    margin-left: 300px;
    margin-right: 250px;

}