body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: lightgray;
    position: relative;
}

main {
    width: 100%;
    height: F auto;
}

.white-headers {
    font-size: 50px;
    font-family: Arial Black;
    color: white;
}

.black-headers {
    font-size: 50px;
    font-family: Arial Black;
    color: black;
}

.textColor {
    color: white;
    font-size: 18px;
}


.buttons {
    font-size: 25px;
    padding: 15px 40px;
    border: 2px solid white;
    background: none;
    color: white;
}

.buttons:hover {
    background-color: white;
    color: black;
    opacity: 0.75;
    cursor: pointer;
}

/* navigation */
nav ul {
    margin-inline-end: 20px;
    padding-inline-start: 20px;
}

nav h2 {
    float: left;
    font-size: 50px;
    font-family: Arial Black;
    margin-left: 25px;
}

nav li {
    border: 1px solid black;
    display: inline-block;
    text-decoration-style: none;
    margin: 6px;
}

nav section {
    background-color: black;
    padding: 5px 10px;
    float: right;
    margin: 25px 10px 0 0;

}


nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav a:hover {
    color: red;
}

/* main section */

.main-section {
    background-image: url('./src/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20rem 10rem;

    text-align: center;
}

.main-section p {
    color: red;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* intro articles */

.intro {
    width: 450px;
    display: inline-block;
    text-align: center;
    background-color: red;
    padding: 0 20px 60px 20px;
    margin: -5px;
}

.intro-section {
    margin-top: -4%;
}

.intro p.right {
    margin-inline-start: 100px;
}

.intro p.left {
    margin-inline-end: 100px;

}

.right {
    text-align: right;
}

.left {
    text-align: left;
    background-color: black;
}

.fa-drumstick-bite {
    color: white;
    float: right;
    opacity: 0.4;
}

.fa-dumbbell {
    color: white;
    float: left;
    opacity: 0.4;
}

/* team section */
.team-section img {
    background-size: 500px;
    background-position: left;
    /* padding: 20rem 10rem; */
}

.buttons.red {
    font-size: 25px;
    padding: 15px 40px;
    border: 2px solid red;
    background: none;
    color: red;
}

.buttons.red:hover {
    background-color: red;
    color: white;
}

.team-section p {
    display: inline-block;
    color: black;
}

.team-section article {
    display: inline-block;
    width: 30%;
}

/* table article */
table {
    margin-left: 120px;
}

th {
    font-size: 50px;
    font-family: Arial Black;

}