#go-to-top {
    text-align: center;
    background: #e31c25;
    position: fixed;
    bottom: 6%;
    right: 5%;
    border: 1px solid #e31c25;
    border-radius: 100%;
    color: white;
    padding: 7px 12px;
}

.hidden {
    display: none;
}

#go-to-top:hover {
    cursor: pointer;
    border: 2px solid #e6585f;
    background-color: #e6585f;
}

/* overall */

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(236, 236, 236);
    position: relative;
    width: 99%;
}

.white-headers {
    font-size: 50px;
    font-family: Arial Black;
    color: white;
}

.black-headers {
    font-size: 50px;
    font-family: Arial Black;
    color: #111;
}

.textColor {
    color: white;
    font-size: 18px;
}

.buttons {
    font-size: 25px;
    padding: 15px 40px;
    border: 2px solid white;
    background: none;
    color: white;
}

.buttons:hover {
    background-color: white;
    color: #111;
    opacity: 0.75;
    cursor: pointer;
}


/* container */
main {
    width: 99%;
    height: 100%;
    margin: 0 auto;
}

/* header */

header h2 {
    float: left;
    font-family: Arial Black;
    font-size: 50px;
    margin: 2rem;
    color: #111;
}

/* navigation */
nav ul {
    margin-inline-end: 20px;
    padding-inline-start: 20px;
}

nav h2 {
    float: left;
    font-size: 50px;
    font-family: Arial Black;
    margin-left: 25px;
}

nav li {
    border: 1px solid #111;
    display: inline-block;
    text-decoration-style: none;
    margin: 6px;
}

nav section {
    background-color: #111;
    padding: 5px 10px;
    float: right;
    margin: 25px 10px 0 0;

}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav a:hover {
    color: #e31c25;
}

.header-section {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('./src/background.jpg');

    background-size: cover;
    background-position: center;
    padding: 20rem 10rem;
    text-align: center;
}

.header-section p {
    text-align: center;
    color: #e31c25;
    width: 100%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.header-section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

/* main */

/* intro articles */
.intro-section {
    display: flex;
    width: 80%;
    padding: 0 10%;
    margin: -4rem 0 0 0;
}

.intro-section article {
    background-color: #e31c25;
    display: inline-block;
    max-width: 50%;
    padding: 3rem 1rem;
}

.intro-section:nth-child(1) h2,
.intro-section:nth-child(1) p {
    padding: 0 20px 0 60px;
    text-align: right;
}

.intro-section:nth-child(1) button {
    float: right;
    margin: 0 20px;
}

.intro-section>article:nth-child(2) h2,
.intro-section>article:nth-child(2) p {
    padding: 0 60px 0 20px;
    text-align: left;
}

.intro-section>article:nth-child(2) button {
    float: left;
}

.intro-section>article:nth-child(2) {
    background-color: #111;
}

.fa-drumstick-bite {
    color: white;
    float: right;
    opacity: 0.4;
}

.fa-heart-pulse {
    color: white;
    float: left;
    opacity: 0.4;
}

/* team section */
.team-section {
    display: flex;
    width: 80%;
    padding: 0 10%;
    margin: 5rem 0;
}

.team-section img {
    max-width: 50%;
    height: auto;
    float: left;
}

.team-section div {
    max-width: 50%;
    float: right;
}

.team-section .buttons {
    font-size: 25px;
    padding: 15px 40px;
    border: 2px solid #e31c25;
    background: none;
    color: #e31c25;
    margin: 0 1rem;
}

.team-section button:hover {
    background-color: #e31c25;
    color: white;
}

.team-section p {
    display: inline-block;
    color: #111;
}


/* team info  */
.team-section i {
    color: #e31c25;
}

.team {
    max-width: 50%;
    float: right;
    margin-left: 1rem;
    /* margin-bottom: 3rem; */
}

.exp {
    display: inline-block;
    max-width: 100%;
}

.exp h2 {
    font-size: 2.9rem;
}

.team article p,
.team article h2 {
    text-align: left;
}

.team div {
    display: flex;
    max-width: 100%;
}

.awards {
    display: inline-block;
    max-width: 49%;
}

.awards h2 {
    font-size: 1.3rem;
}

.team button {
    font-size: 25px;
    padding: 10px 20px;
    border: 2px solid #e31c25;
    background: none;
    color: #e31c25;
    opacity: 0.75;
    margin: 0 1rem;
    cursor: pointer;
}

/* description */
.description {
    width: 100%;
    margin: 3rem auto;
}

.description ul {
    display: inline-flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.description h2 {
    color: white;
    text-align: center;
}

.description span {
    margin-left: -10%;
    margin-right: 10%;
}

.description p {
    padding: 0 15%;
    color: white;
    max-width: 60%;
    display: inline-flex;
    text-align: justify;
}

.description li {
    display: inline-block;
    width: 34%;
    padding: 2rem 0;
}

.description .black i {
    color: #e31c25;
}

.description .red i {
    color: #111;
}

.description .red {
    background-color: #e31c25;
}

.description .black {
    background-color: #111;
}

/* Benefits */
.benefits {
    display: block;
    width: 80%;
    padding: 0 10%;
    margin-top: 5rem;
}

.benefits .why-us {
    color: #e31c25;
    font-family: fantasy;
    font-size: 22px;
    text-align: center;
}

.benefits h2 {
    font-family: fantasy;
    text-align: center;
}

.benefits-group {
    display: inline-block;
    width: 46%;
    margin: 1rem;
}

.benefits-group img {
    width: 200px;
    height: 150px;

}

.benefits-group p {
    width: 50%;
    display: flex;
    font-family: 'Georgia';
    font-size: 1.2rem;
}

.benefits-group>div {
    margin-top: 1rem;
    float: left;
    padding: 0 1.2rem;
}

.benefits-group>div>i {
    padding: 0.7rem;
    margin-left: -3rem;
    margin-top: -0.7rem;
    float: right;
    position: relative;
    color: white;
    background-color: #e31c25;
}

/* subscribe */

.subscribe {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), url('./src/newsletter.jpg');
    background-size: cover;
    background-position: center;
    padding: 6rem;
    text-align: center;
    margin: 4rem 0;
}

.subscribe h2 {
    margin: 1rem 0;
}

.subscribe p {
    color: white;
    font-family: Georgia;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.subscribe form {
    display: inline-flex;
}

.subscribe input {
    width: 300px;
    height: 40px;
    font-size: 25px;
    font-family: arial;
    padding-left: 20px;
    box-sizing: border-box;
    margin: 1rem 0;
}

.subscribe button {
    font-family: Georgia;
    font-size: 20px;
    background-color: #e31c25;
    color: white;
    border: 1px solid #e31c25;
    padding: 8px 20px;
    margin: 1rem 0;
}

.subscribe button:hover {
    background-color: #b8282f;
    border: 1px solid #b8282f;
}


/* Classes */
.classes {
    display: block;
    width: 80%;
    padding: 0 10%;
    margin-top: 5rem;
    text-align: center;
}

.classes p {
    color: #e31c25;
    font-family: fantasy;
    font-size: 22px;
}

.classes nav a {
    color: #e31c25;
    padding: 8px 14px;
}

.classes nav a:hover {
    color: white;
    background-color: #e31c25;
}

.classes table {
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;
    border-collapse: collapse;
    text-align: center;
}

.classes table thead tr {
    color: #CCCCCC;
    background-color: #111;
}

.classes th {
    border: 2px solid #D6D6D6;
    font-weight: 600;
}

.classes th, .classes table td {
    border: 1px solid #D6D6D6;
    padding: 20px 15px;
}

.classes td {
    border-collapse: collapse;
    height: 45px;
}

.classes td:nth-child(1) {
    background-color: #111;
    color: white;
    font-size: 1rem;
}

/* BMI */
.bmi {
    display: inline-flex;
    width: 80%;
    padding: 0 10%;
    margin: 4rem 0;
}

.pic {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65)), url('./src/background.jpg');
    background-size: cover;
    width: 60%;
    height: 400px;
}

.pic p:nth-child(1) {
    color: #c71b24;
    font-size: 23px;
    font-family: Arial Black;
    letter-spacing: -1px;
    margin-top: 4rem;
    margin-left: 5rem;
}

.pic p {
    color: #CCCCCC;
    font-size: 1.1rem;
    margin: 0 5rem;
}

.pic h3 {
    margin: 2rem 0;
    margin-left: 5rem;
}

.bmi-inputs {
    background-color: black;
    width: 50%;
}

.bmi-inputs p {
    color: #CCCCCC;
    font-size: 2rem;
    margin: 7rem 0 1rem 2rem;
}

.bmi-inputs input {
    margin-top: 0.5rem;
    height: 30px;
    width: 30%;
    display: inline-flex;
    border: 2px solid #CCCCCC;
    font-size: 20px;
}

#bmi-gender {
    margin-top: 0.5rem;
    height: 36px;
    width: 31.5%;
    font-size: 20px;
    display: inline-flex;
    border: 2px solid #CCCCCC;
}

.bmi-inputs input:nth-child(2n) {
    margin: 0 0 0 2rem;
}

#bmi-calc {
    margin: 0.5rem 0 0 2rem;
    width: 64%;
    padding: 10px;
    background-color: #343a40;
    color: #CCCCCC;
    font-size: 20px;
    border: 2px solid #CCCCCC;
}

#bmi-calc:hover {
    cursor: pointer;
    background-color: #2a2e33;
}

/* TRAINERS */
.trainers {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.trainers>p {
    color: #c71b24;
    font-size: 27px;
    font-family: fantasy;
    letter-spacing: 1px;
    margin: 0;
}

.trainers>h2 {
    margin: 0 0 3rem 0;
    letter-spacing: -3px;
}

.trainers>div {
    display: inline-block;
    margin: 0 1rem;
}

.trainers>div>p {
    /* width: 100%; */
    height: 100%;
}

#trainer1 {
    background: url('./src/powerlifting.jpg');
    background-size: cover;
    width: 300px;
    height: 400px;
}

#trainer2 {
    background: url('./src/crossfit.jpg');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
}

#trainer3 {
    background: url('./src/cardio.jpg');
    background-size: cover;
    background-position: 90%;
    width: 300px;
    height: 400px;
}

.trainer-info {
    background-color: #111;
    margin: 0;
    padding: 1rem;
}

.trainer-name {
    color: #c71b24;
}

.trainer-info>p {
    color: #CCCCCC;
    font-size: 1.4rem;
}

.links {
    margin: 0;
}

.links i {
    color: white;
    margin-top: 70%;
    border: 1px solid white;
    border-radius: 100%;
}

.links a :hover {
    cursor: pointer;
}