#go-to-top {
    text-align: center;
    background: #e31c25;
    position: fixed;
    bottom: 6%;
    right: 5%;
    border: 1px solid #e31c25;
    border-radius: 100%;
    color: white;
    padding: 7px 12px;
}

#go-to-top:hover {
    cursor: pointer;
    border: 2px solid #e6585f;
    background-color: #e6585f;
}

/* overall */

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(236, 236, 236);
    position: relative;
    width: 99%;
}

.white-headers {
    font-size: 50px;
    font-family: Arial Black;
    color: white;
}

.black-headers {
    font-size: 50px;
    font-family: Arial Black;
    color: #111;
}

.textColor {
    color: white;
    font-size: 18px;
}

.buttons {
    font-size: 25px;
    padding: 15px 40px;
    border: 2px solid white;
    background: none;
    color: white;
}

.buttons:hover {
    background-color: white;
    color: #111;
    opacity: 0.75;
    cursor: pointer;
}


/* container */
main {
    width: 99%;
    height: 100%;
    margin: 0 auto;
}

/* header */

header h2 {
    float: left;
    font-family: Arial Black;
    font-size: 50px;
    margin: 2rem;
    color: #111;
}

/* navigation */
nav ul {
    margin-inline-end: 20px;
    padding-inline-start: 20px;
}

nav h2 {
    float: left;
    font-size: 50px;
    font-family: Arial Black;
    margin-left: 25px;
}

nav li {
    border: 1px solid #111;
    display: inline-block;
    text-decoration-style: none;
    margin: 6px;
}

nav section {
    background-color: #111;
    padding: 5px 10px;
    float: right;
    margin: 25px 10px 0 0;

}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

nav a:hover {
    color: #e31c25;
}

.header-section {
    background-image: url('./src/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20rem 10rem;
    text-align: center;
}

.header-section p {
    text-align: center;
    color: #e31c25;
    width: 100%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.header-section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

/* main */

/* intro articles */
.intro-section {
    display: flex;
    width: 80%;
    padding: 0 10%;
    margin: -4rem 0 0 0;
}

.intro-section article {
    background-color: #e31c25;
    display: inline-block;
    max-width: 50%;
    padding: 3rem 1rem;
}

.intro-section:nth-child(1) h2,
.intro-section:nth-child(1) p {
    padding: 0 20px 0 60px;
    text-align: right;
}

.intro-section:nth-child(1) button {
    float: right;
    margin: 0 20px;
}

.intro-section>article:nth-child(2) h2,
.intro-section>article:nth-child(2) p {
    padding: 0 60px 0 20px;
    text-align: left;
}

.intro-section>article:nth-child(2) button {
    float: left;
}

.intro-section>article:nth-child(2) {
    background-color: #111;
}

.fa-drumstick-bite {
    color: white;
    float: right;
    opacity: 0.4;
}

.fa-heart-pulse {
    color: white;
    float: left;
    opacity: 0.4;
}

/* team section */
.team-section {
    display: flex;
    width: 80%;
    padding: 0 10%;
    margin: 5rem 0;
}

.team-section img {
    max-width: 50%;
    height: auto;
    float: left;
}

.team-section div {
    max-width: 50%;
    float: right;
}

.team-section .buttons {
    font-size: 25px;
    padding: 15px 40px;
    border: 2px solid #e31c25;
    background: none;
    color: #e31c25;
    margin: 0 1rem;
}

.team-section button:hover {
    background-color: #e31c25;
    color: white;
}

.team-section p {
    display: inline-block;
    color: #111;
}


/* team info  */
.team-section i {
    color: #e31c25;
}

.team {
    max-width: 50%;
    float: right;
    margin-left: 1rem;
    /* margin-bottom: 3rem; */
}

.exp {
    display: inline-block;
    max-width: 100%;
}

.exp h2 {
    font-size: 2.9rem;
}

.team article p,
.team article h2 {
    text-align: left;
}

.team div {
    display: flex;
    max-width: 100%;
}

.awards {
    display: inline-block;
    max-width: 49%;
}

.awards h2 {
    font-size: 1.3rem;
}

.team button {
    font-size: 25px;
    padding: 10px 20px;
    border: 2px solid #e31c25;
    background: none;
    color: #e31c25;
    opacity: 0.75;
    margin: 0 1rem;
    cursor: pointer;
}

/* description */
.description {
    width: 100%;
    margin: 3rem auto;
}

.description ul {
    display: inline-flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.description h2 {
    color: white;
    text-align: center;
}

.description span {
    margin-left: -10%;
    margin-right: 10%;
}

.description p {
    padding: 0 15%;
    color: white;
    max-width: 60%;
    display: inline-flex;
    text-align: justify;
}

.description li {
    display: inline-block;
    width: 34%;
    padding: 2rem 0;
}

.description .black i {
    color: #e31c25;
}

.description .red i {
    color: #111;
}

.description .red {
    background-color: #e31c25;
}

.description .black {
    background-color: #111;
}